@import './shared';

#pricing {
    background-color: $color-background;
    padding-top: 100px;
    padding-bottom: 140px;
}

.pricing-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.pledge-card-content {
    width: 53.5%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.pledge-card {
    width: 48.4%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .cta-main, & .cta-secondary {
        margin-top: 48px;
        margin-bottom: 80px;
    }
}

.card-title {
    margin-top: 72px;
    margin-bottom: 24px;
}

.price {
    margin-bottom: 48px;
    font-weight: $font-bold;
    font-size: 64px;
    color: $color-heading;
}

.currency {
    font-weight: $font-bold;
    font-size: 32px;
    color: $color-heading;
}

.period {
    font-weight: $font-regular;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    color: #8686A2;
}

.perk-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perk-item {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: $font-regular;
    font-size: 16px;
    line-height: 22px;
    color: #8686A2;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $color-heading;
}

.pricing-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;

    .tab-content {
        width: 100%;
    }
}

.pricing-tabs__links {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
}

.tab-discount {
    font-weight: $font-semibold;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: $color-heading;

    &:nth-child(2)::before {
        background: #FCCBBB;
        border-radius: 18px;
        width: 52px;
        position: relative;
        left: 80%;
        content: '-20%';
        display: block;
    }

    &:nth-child(3)::before {
        background: #FCCBBB;
        border-radius: 18px;
        width: 52px;
        position: relative;
        left: 80%;
        content: '-30%';
        display: block;
    }
}

.underline-pricing {
    transform: translateY(-4px);
    width: calc(100%/3);
    height: 4px;
    margin-left: 0;
    background-color: $color-accent;
    transition: .3s ease-in-out;
}

.one {
    &:hover ~ .underline-pricing {
        transition: all .3s ease-in-out;
        margin-left: 0 !important;
    }
}

.two {
    &:hover ~ .underline-pricing {
        transition: all .3s ease-in-out;
        margin-left: 33.3% !important;
    }
}

.three {
    &:hover ~ .underline-pricing {
        transition: all .3s ease-in-out;
        margin-left: 66.6% !important;
    }
}

.pricing__tab {
    display: inline-block;
    text-align: center;
    border-bottom: #EDEDF1 4px solid;
    flex-shrink: 0;
    flex-basis: 33.3%;

    &.one .tab-link {
        padding-top: 24px;
    }
}

#threeMonthPrice, #sixMonthPrice, #twelveMonthPrice {
    display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .pricing-tabs__links {
        width: 62.5%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pledge-card-content {
        width: 72.3%;
    }

    .pricing-tabs__links {
        width: 83.3%
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    #pricing {
        padding-bottom: 100px;
    }

    .tab-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .pricing-tabs__links {
        width: 100%;
    }

    .pledge-card {
        width: 100%;

        &:last-child {
            margin-top: 24px;
        }

        .cta-main, .cta-secondary {
            height: 48px;
        }
    }

    .pledge-card-content {
        width: 75.2%;
    }

    .pricing-tabs {
        margin-top: 69px;
    }

    .tab-discount {

        &:nth-child(2)::before {
            width: 48px;
            left: 30%;
            
        }
    
        &:nth-child(3)::before {
            width: 48px;
            left: 30%;
        }
    }
}