@import './shared';

#realtime {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 152px;
}

.realtime-container {
    padding-top: 68px;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    & .badge-text {
        margin-top: 24px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    #realtime {
        padding-bottom: 124px;
    }

    .realtime-container {
        width: 64.5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #realtime {
        padding-bottom: 124px;
    }

    .realtime-container {
        width: 78.8%;
    }

    .cta-main {
        padding: 0 24px;
    }
}


@media screen and (min-width: 375px) and (max-width: 767px) {

    #realtime {
        padding-bottom: 124px;

        .cta-main {
            padding: 0 24px;
            justify-content: center;
            width: 85.3%;
        }
    }

    .realtime-container {
        width: 87.2%;
    }
}